<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>ES Autocomplete</title>
    <link href="{{url_for('static', filename='css/styles.css')}}" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
    {% include "navbar.html" %}
    <div class="container-fluid text-center">
        <div class="container mb-4">
            <h2 class="text-white">Autocomplete WITH PREFIX MATCH</h2>
            <form id="autocompletePrefixForm" method="post" class="mt-3 mb-3">
                <input class="form-control field" id="searchMessagePrefix" name="searchMessage" type="text" placeholder="Search ..."/>
                <div id="suggestBoxMatchPrefix" class="text-center text-white"></div>
            </form>
        </div>
        <div class="container mt-5">
            <h2 class="text-white">Autocomplete WITH NGRAM</h2>
            <form id="autocompleteNgramForm" method="post" class="mt-3 mb-3">
                <input class="form-control field" id="searchMessageNGram" name="searchMessage" type="text" placeholder="Search ..."/>
                <div id="suggestBoxNgram" class="text-white text-center"></div>
            </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="static/js/autocomplete.js"></script>
</body>
</html>